:root {
    --background: #F3F4F6;
    --headline: #094067;
    --title: #374151;
    --descript: #6B7280;
    --icon: #374151;
    --paragraph: #5f6c7b;
    --button: #3da9fc;
    --button-text: #fffffe;
    --borderRadius: 10px;
    --main: #fffffe;
    --highlight: #3da9fc;
    --secondary: #c0f8e7;
    --tertiary: #ef4565;
    --boxShadow: 0 4px 10px rgba(118, 106, 119, 0.062);
    --instColor: #4974EC;
    --resaltador: #ffe96b;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
    line-height: 30px;
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
}

.main-content {
    background-color: var(--background);
    flex: 1;
    padding: 20px;
}

h1{
    margin-top: 1em;
    text-align: center;
}

h4{
    margin-top: 15px;
}

strong{
    font-weight: 600;
    padding: 2px;
    background-color: var(--resaltador);
}

ul{
    margin: 0 auto;
    width: 95%;
}

p#comentario{
    color: var(--tertiary);
    margin: .5em 2em;
}

/* Sidebar */
.sidebar {
    border-radius: 0 10px 10px 0;
    flex-direction: column;
    display: flex;
    max-width: 230px;
    background-color: var(--main);
    height: 100vh;
    position: sticky;
    top: 0;
    padding: 20px 30px;
    box-shadow: var(--boxShadow);
}
.sidebar h2{
    color: var(--highlight);
    margin: 0;
    line-height: 20px;
    font-size: 1em;
    text-align: center;
}

.sidebar ul {
    margin: auto 0;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    height: 80%;
    list-style: none;
}

.sidebar li {
    
    align-items: center;
    display: flex;
    width: 100%;
}

.sidebar li a {
    width: 100%;
    text-align: start;
    text-decoration: none;
    color: var(--descript);
    font-size: 1.1em;
}

.sidebar li a i{
    margin-right: 7px;
}

/* secciones */

section{
    padding-top: 20px;
    margin-bottom: 50px;
}


/* section banner */
.section-banner {
    margin: 0 auto;
    border-radius: var(--borderRadius);
    position: relative;
    background-color: var(--button);
    width: 100%;
    height: 120px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}



.section-banner h2 {
    z-index: 2;
    font-size: 2rem; 
    text-align: center;
    margin: 0;
}

/* CLASE */
.clase{
    background-color: var(--main);
    border-radius: var(--borderRadius);
    width: 100%;
    padding: 25px;
    margin-top: 1em;
    font-size: 1.1em;
    box-shadow: 0 10px 25px rgba(214, 215, 216, 0.26);
}

.clase-header{
    border-bottom: solid #d1d2d6 2px;
    
    
    width: 100%;
    height: 35px;
    align-items: center;
    display: flex;
}

.clase-header #fecha{
    color: var(--tertiary);
}

.clase-header h3{
    color: var(--paragraph);
    margin: 0;
    margin-right: auto;
}

h3{
    margin: 1em 0 .3em 0;
}

/* Sistemas operativos */
/* .conceptos{
    margin: 30px auto;
    width: 90%;
} */

.conceptos h4{
    font-size: 1.2em;
}

.conceptos ul{
    display: flex;
    justify-content: space-between;
}

.conceptos ul li{
    margin: 1em;
}

/* clase 1 */
.sistema-operativo{
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.sistema-operativo ul{
    width: 70%;
}

.sistema-operativo ul li{
    margin-bottom: 1em;
}

.sistema-operativo img{
    width: 300px;
}

.fa-linux{
    margin-right: 7px;
    font-size: 2em;
}

.his-linux{
    width: 97%;
    margin: 0 auto;
}

.his-linux h4{
    margin-top: 1em;
}

.gnu-logo{
    width: 200px;
}

.his-linux h5{
    font-size: 1em;
}

ul.kernel{
    margin: 0 auto;
    width: 95%;
}

/* clase 2 */



/* Apliaciones para dispositivos moviles */

code{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    margin: 0 7px;
}


/* Aplicaciones web progresivas */
/* clase 1 */
.async-ul li,
.conceptos-clave li,
.async-js-ul li{
    margin-bottom: 30px;
}

img{
    width: 500px;
    border-radius: 8px;
    margin: 15px;
}




/* Programación II */

.tabla-metodos {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

.tabla-metodos thead {
    background-color: #f5f5f5;
}

.tabla-metodos th,
.tabla-metodos td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

.tabla-metodos th {
    background-color: #e0e0e0;
    color: #333;
}

.tabla-metodos tr:nth-child(even) {
    background-color: #fafafa;
}










/* Emprendimiento de negocios */
ul.org{
    margin: .5em 2em;
}



.sociedades li::marker,
.act-ec li::marker {
    color: var(--highlight);
}

.sociedades h4 strong{
    background-color: var(--secondary);
}

h4 strong{
    background-color: var(--secondary);
}

.soc-p-accSimp-coop{
    gap: 10px;
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
}

.soc-p-accSimp-coop h4{
    margin: 0;
    text-align: center;
    width: 100%;
}

.soc-p-accSimp-coop div{
    background-color: var(--secondary);
    border-radius: var(--borderRadius);
    width: 45%;
    padding: 10px 30px;
}

/* Programación con entornos de trabajo */